.ll-head {
  background-color: #fdb203;
}

.ll-banner {
  background-color: #fdb203;
  width: 50%;
  max-width: 100%;
  padding: 10px 60px 10px 120px;
}
.content {
  margin: 20px 80px 20px 80px;
}
.content h1:hover,
.content h2:hover {
  text-decoration: underline;
  transition: 0.4s;
  text-shadow: 0 0 3px rgb(255, 211, 67);
}
.ll-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}

.ll-intro h2,
.ll-intro p {
  max-width: 70%;
  padding: 10px;
}

.artistry {
  margin-top: 150px;
}

.cr7 {
  max-width: 380px;
  margin-top: 20px;
}

.cr7-container {
  width: 100%;
  height: auto;
}

.rivalries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}

.lm10 {
  max-width: 300px;
  margin-right: 60px;
  height: auto;
}
.historic-clubs {
  margin-top: 100px;
}
.rivalries h2,
.rivalries p {
  max-width: 70%;
  padding: 10px;
}
table {
  border: 0.3rem solid black;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #ddd;
  box-shadow: 0.2rem 0.2rem 1rem #000;
  margin: 0 auto;
  white-space: wrap;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

caption {
  font-size: 3rem;
  color: #131313;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
  padding: 1.5rem 0 3rem;
  font-weight: bold;
}
table td {
  font-size: 20px;
}

tbody {
  text-align: center;
  border-bottom: 0.3rem solid black;
  border-top: 0.3rem solid black;
}

tfoot th,
tfoot td {
  font-size: 1.4rem;
  padding: 0 1rem;
  line-height: 2;
}

th,
td {
  padding: 1rem;
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  overflow: hidden;
  margin: 0;
}

tbody tr th {
  text-align: left;
}

tbody > :nth-child(1),
tbody > :nth-child(2),
tbody > :nth-child(3) {
  background-color: #5f7ec6;
}

tbody > :nth-child(4) {
  background-color: #85a0dd;
}

tbody > :nth-child(5),
tbody > :nth-child(6) {
  background-color: #b6c7f0;
}

tbody > :nth-child(2n + 6) {
  background-color: #ddd;
}

tbody > :nth-child(2n + 7) {
  background-color: #ccc;
}

thead,
tfoot tr :last-child {
  background: linear-gradient(to bottom, #111, #333 50%, #111);
  color: #ddd;
}

tfoot > tr:nth-child(1) :first-child {
  background-color: #5f7ec6;
}

tfoot > tr:nth-child(2) :first-child {
  background-color: #85a0dd;
}

tfoot > tr:nth-child(3) :first-child {
  background-color: #b6c7f0;
}

footer {
  margin-top: 50px;
}
